/Beispiel1/build/
/Beispiel2/nbproject/private/
/Beispiel2/build/
/Beispiel3/nbproject/private/
/Beispiel 4/nbproject/private/
/Beispiel 4/build/
/Beispiel3/build/
/Beispiel5/nbproject/private/
/Beispiel5/build/